{% extends "base.html" %}

{% block content %}
<div class="card">
    <div class="card-body">
        <h2 class="card-title">預約管理</h2>
        <div class="table-responsive">
            <table class="table table-responsive-card">
                <thead>
                    <tr>
                        <th>書名</th>
                        <th>借閱者</th>
                        <th>聯絡電話</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for reservation in reservations %}
                    <tr>
                        <td data-label="書名">{{ reservation.publications.title }}</td>
                        <td data-label="借閱者">{{ reservation.users.name }}</td>
                        <td data-label="聯絡電話">{{ reservation.users.phone }}</td>
                        <td data-label="操作">
                            <form method="POST">
                                <input type="hidden" name="reservation_id" value="{{ reservation.id }}">
                                <button type="submit" class="btn btn-primary">已放入書袋</button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}