<!DOCTYPE html>
<html>
<head>
    <title>登入</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <div class="card">
        <h1>用戶登入</h1>
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <p style="color: red;">{{ message }}</p>
                {% endfor %}
            {% endif %}
        {% endwith %}
        
        <form method="POST" action="{{ url_for('login') }}">
            <label>信箱:</label>
            <input type="email" name="email" required>
            <label>密碼:</label>
            <input type="password" name="password" required>
            <input type="submit" value="登入">
        </form>
        <a href="{{ url_for('register') }}">尚未註冊？註冊</a>
    </div>
</body>
</html>