!DOCTYPE html
html
head
    title還書title
    link rel=stylesheet href={{ url_for('static', filename='style.css') }}
head
body
    header
        h1還書 - 書袋 {{ bag_id }}h1
    header
    main
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                div class=flash{{ messages[0] }}div
            {% endif %}
        {% endwith %}
        form method=POST class=card
            h3請選擇要還的書籍h3
            {% for book in borrowed_books %}
                labelinput type=checkbox name=book_ids value={{ book.publication_id }} {{ book.publications.title }} ({{ book.publications.isbn }})labelbr
            {% endfor %}
            input type=submit value=確認還書
        form
    main
body
html